h3 {
  span { font-size: .6em; }
}

.side-bar {
  border-radius: 5px;
  background-color: #F5F5F5;

  h5, p { padding: 0 10px; }

  h5 {
    padding-bottom: 5px;
    border-bottom: 1px dashed #E5E5E5;
  }
}

table.table {
  td, th { padding: 5px; }
}